@model Crud_FP.ViewModels.TicketDetailViewModel

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>Flowpoint_Support_Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ITicketID" />
            <div class="form-group">
                <label asp-for="VTicketMessage" class="control-label"></label>
                <input asp-for="VTicketMessage" class="form-control" />
                <span asp-validation-for="VTicketMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtCreatedDate" class="control-label"></label>
                <input asp-for="DtCreatedDate" class="form-control" />
                <span asp-validation-for="DtCreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtModifiedDate" class="control-label"></label>
                <input asp-for="DtModifiedDate" class="form-control" />
                <span asp-validation-for="DtModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ICreatedBy" class="control-label"></label>
                <input asp-for="ICreatedBy" class="form-control" />
                <span asp-validation-for="ICreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IModifiedBy" class="control-label"></label>
                <input asp-for="IModifiedBy" class="form-control" />
                <span asp-validation-for="IModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BlsActive" /> @Html.DisplayNameFor(model => model.BlsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="IVendorID" class="control-label"></label>
                <select asp-for="IVendorID" class="form-control" asp-items="Model.VendorDropDown"></select>
                <span asp-validation-for="IVendorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

